* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('e.jpeg') no-repeat center center;
    background-color: #ffe6f0;
    font-family: 'Arial', sans-serif;
}

.heart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heart {
    width: 150px;
    height: 150px;
    position: relative;
    background-color: red;
    transform: rotate(-45deg);
    margin-bottom: 20px;
}

.heart::before,
.heart::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
}

.heart::before {
    top: -75px;
    left: 0;
}

.heart::after {
    left: 75px;
    top: 0;
}

.message {
    text-align: center;
    color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}
